img{
    border-radius: 50%;
}
nav{
    background-color: rgb(154, 248, 218);
    text-decoration: none;
    padding: 20px;
}
footer{
    background-color:rgb(154, 248, 218);
}
#portfolio{
    background-color: bisque;
}
