@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
.ho{
    color: rgba(34, 6, 244, 0.801);
    font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}









.yo{
background: rgba(233, 115, 95, 0.19);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(0px);
-webkit-backdrop-filter: blur(0px);
border: 1px solid rgba(233, 115, 95, 1);
}
.su {
    background-image: url('https://img.freepik.com/free-vector/green-spring-landscape_1048-1212.jpg?t=st=1708529086~exp=1708532686~hmac=f5bb0d435898af8b6d0366b39d40b1027e3297e80fa085ddb0cb561f6128f69f&w=740');
    background-repeat: no-repeat;
    background-size: cover;
} 
.ha{
    display: flex;
    justify-content: space-evenly;
    margin-left: 250px;
    margin-right: 250px;
}
.ha :hover{
    color: rgba(252, 7, 7, 0.806);
    transition: 2s;

}



img{
    border-radius: 50%;
}
nav{
    text-decoration: none;
    padding: 20px;
}
footer{
    background-color:rgb(166, 199, 151);
}
.la{
    text-decoration: none;
    color: rgba(6, 88, 253, 0.813);
}
