img{
    border-radius: 50%;
}
nav{
    background-color: rgb(166, 199, 151);
    text-decoration: none;
    padding: 20px;
}
footer{
    background-color:rgb(166, 199, 151);
}
#portfolio{
    background-color: bisque;
}
.la{
    text-decoration: none;
    color: rgb(11, 67, 249);
}